@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800;900&family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: rgb(240, 240, 240);
}

.name-project {
    text-align: center;
    padding: 130px 0 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: 78px;
    line-height: 78px;
}

.registration-body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 27px 250px 27px 250px;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.sign-in {
    flex: 0 1 50%;
}

.sign-up {
    flex: 0 1 50%;
}

input{
    width: 288px;
    height: 28px;
    display: block;
    margin: 16px auto 0 auto;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    padding: 7px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: 0px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

a {
    font-size: 18px;
    color: #71A7E6;
}

.sign-in-body input:last-child {
    margin: 15px auto 9px;
}

.sign-in-btn {
    display: block;
    margin: 21px auto;
    text-align: center;
    width: 189px;
    height: 37px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 25px;
    color:rgb(255, 255, 255);
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(18, 18, 18);
}

.sign-in-btn span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.sign-up-btn {
    display: block;
    margin: 16px auto;
    width: 210px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #181818;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
}

.sign-up-btn span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.social {
    display: block;
    text-align: center;
    padding-bottom: 100px;
    font-size: 18px;
}

.social-icons button {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-icons button img {
    margin: 3px;
    width: 50px;
    height: 50px;
    
}

.button-link {
    text-decoration: none;
}

.error-message {
    width: 288px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FF7575;
    background: #FFDCDC;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
}

.error-message p {
    padding: 0.8em 0;
}

.sign-up-body .error-message {
    display: block;
    float: right;
    width: 180px;
}