@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 240, 240);
}

.name-project {
    text-align: center;
    padding: 170px 0 0 0;
    font-size: 50px;
}

.registration-body {
    display: flex;
    padding: 40px 250px 20px 250px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.sign-in {
    flex: 0 1 50%;
}

.sign-up {
    flex: 0 1 50%;
}

input{
    width: 280px;
    display: block;
    text-align: center;
    margin: 15px auto;
    border-radius: 25px;
    box-shadow: 0px 3px 5px black;
    padding: 7px;
    font-size: 18px;
    border: 0px;
}

a {
    margin: 5px 0 0 0;
    font-size: 18px;
    color: #497DDD;
}

.sign-in-body input:last-child {
    margin: 15px auto 3px;
}

.sign-in-btn {
    display: block;
    margin: 15px auto;
    width: 210px;
    font-size: 20px;
    border-radius: 25px;
    color:rgb(255, 255, 255);
    background-color: rgb(24, 24, 24);
    height: 45px;
}

.sign-in-btn span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.sign-up-btn {
    display: block;
    margin: 15px auto;
    width: 210px;
    font-size: 20px;
    border-radius: 25px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 45px;
    font-weight: 600;
}

.sign-up-btn span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.social {
    display: block;
    text-align: center;
    padding-bottom: 100px;
    font-size: 18px;
}

.social-icons button {
    border-radius: 50%;
}

.social-icons button img {
    margin: 3px;
    width: 50px;
    height: 50px;
}

.button-link {
    text-decoration: none;
}

.error-message {
    display: block;
    margin: 0px auto;
    border: 1px solid rgb(255, 0, 0, 0.5);
    background-color: rgb(255, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 18px;
    width: 280px;
}

.sign-up-body .error-message {
    display: block;
    float: right;
    width: 180px;
}